<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

	<logger name="org.dozer" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="com.mayloom.vouchserv" level="WARN" />
	<logger name="com.mayloom.vouchserv.ws" level="INFO" />
	<logger name="com.mayloom.vt" level="DEBUG" />
	
  	<root level="INFO">
    	<appender-ref ref="STDOUT" />
  	</root>
</configuration>